<%- include("partials/header") -%>

<h1>Home</h1>
<p>
    <%= startingContent %>
</p>

<%  allPosts.forEach(function (post){ %>
      <h1> <%= post.title %> </h1> 
      <p> <%= post.content.substring(0, 100) + " ..." %> 
        <a href="/posts/<%= post._id %>" >Read more</a>
      </p>
<%  })  %>


<form class="" action="/compose" method="get">
  <div class="compose-btn">
    <button class="btn btn-primary" type="submit" name="button">Compose</button>
  </div>
</form>


<%- include("partials/footer") -%>